.box1 {
  background-color: #ffffff;
  height: 900px;
  width: 200px;
  float: right;
}

.bg1 {
  background-color: #ffaaaa;
}

.bg2 {
  background-color: #ffbbbb;
}

.bg3 {
  background-color: #ffcccc;
}

.bg4 {
  background-color: #ffdddd;
}
